input {
    border: solid 1px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: blue;
}

/* hacer que el campo "edad" ocupe todo el ancho de la tabla */
#edad {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#nombre {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#tfn {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
#idiomaT, #personajesF, #co {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
/* si la tabla contiene el formulario, asegurar que ocupe todo el ancho */
table {
    width: 100%;
    table-layout: fixed;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

fieldset {
    background-color: #cdaac4;
    padding: 1rem;
    border: 1px solid #cfd8e3;
    border-radius: 6px;
    margin: auto;
    width: 100%;
}

#f {
    width: 400px;
    margin: auto;
}

* {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

legend {
    font-weight: bold;
}

h1#fm {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    color: hsl(55, 100%, 66%);
    font-size: 40px;
}
#fo {
    text-align: center;
}
body {
    background-image: url('https://static.wikia.nocookie.net/marvelfanon/images/6/67/Avengers_vs_fantastic_four_poster.jpg/revision/latest?cb=20200701200529&path-prefix=es');
    background-size: cover;
    background-position: center;
}
